@import '../../../assets/css/colors.scss';

.header-content {
    height: 70px;
    background-color: $white;
    border-bottom: 1px solid $grey;
    .logo-container {
        display: inline-block;
        width: 50px;
        img {
            width: 50px;
        }
    }
    .title-container {
        display: inline-block;
        width: calc(100% - 100px);
        color: $primary-blue-color;
        text-transform: uppercase;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
    }
    .functions-container {
        display: inline-block;
        width: 50px;
        text-align: right;
        .header-btn {
            background-color: $primary-blue-color;
            &:focus {
                outline: none;
            }
        }
    }
}